name: CI-CD Pipeline

on:
  push:
    branches:
      - main

jobs:
  build-test-scan:
    runs-on: ubuntu-latest

    steps:
    - name: Checkout Code
      uses: actions/checkout@v4

    - name: Build Backend Image
      run: docker build -t backend-app ./backend

    - name: Run Unit Tests
      run: docker run backend-app pytest

    - name: Security Scan (Trivy)
      uses: aquasecurity/trivy-action@master
      with:
        image-ref: backend-app

  deploy-staging:
    needs: build-test-scan
    runs-on: ubuntu-latest

    steps:
    - name: Checkout Code
      uses: actions/checkout@v4

    - name: Deploy to Staging
      run: bash deploy.sh
