name: CI Pipeline

on:
  push:
    branches:
      - main

jobs:
  build-and-test:
    runs-on: ubuntu-latest

    steps:
      - name: Checkout code
        uses: actions/checkout@v4

      - name: Build backend image
        run: docker build -t backend-app ./backend

      - name: Run unit tests (no cache)
        run: docker run backend-app pytest -p no:cacheprovider
